body {
	font-family: "Roboto Mono" monospace;
	text-align: center;
	transition: 1s;
}
canvas {
    image-rendering: pixelated;
    padding: 0;
    margin: auto;
    margin-top: 100px;
    display: block;
    width: 600px;
    height: 600px;
    position: absolute;
    border: 12px solid #BBB;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#pictureFrame {
	width: 600px;
	height: 600px;
	position: absolute;
	border: 12px solid #BBB;
	margin-top: 100px;
	margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
}
#Topbar {
	width: 100%;
	height: 50px;
	background-color: black;
	position: absolute;
	left: 0px;
	top: 0px;
}
#FileDrop{
	position: absolute;
	width: 80%;
	height: 200px;	
	border: 2px dashed black;
	margin-top: 101px;
	color: black;
}
#FileDrop.Hover{
	background-color: blue;
	color: white;
}
#FileDrop.mouseOver{
	background-color: #BBB;
	color: white;
	cursor: hand;
}
#FileDrop input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	left: 0px;
	top: 0px;
}
#FileDrop #Text {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 20px;
	line-height: 200px;
	left: 0px;
	top: 0px;
	text-align: center;
}
textarea {
	font-family: "Roboto Mono" monospace;
	height: 110px;
	width: 300px;
	display: inline-block;
	position: relative;
	float: left;
}
#Transport {
	position: absolute;
	width: 500px;
	margin-left: -250px;
	top: 300px;
	left: 50%;
	position: absolute;
}
#Parts span, #Transport span {
	display: inline-block;
	float: left;
	width: 100px;
	text-align: left;
}
#Parts {
	position: absolute;
	width: 500px;
	margin-left: -250px;
	top: 430px;
	left: 50%;
	position: absolute;
}
#Description {
	position: absolute;
	width: 100%;
	height: 40px;
	font-size: 20px;
	bottom: 0px;
}
#Settings {
	background-color: black;
	left: 20px;
	top: 70px;
	width: 125px;
	height: auto;
	padding-bottom: 10px;
	position: absolute;
}
#Settings span {
	width: 60px;
	float: left;
	color: white;
	font-size: 12px;
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}
#Settings input {
	width: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
